body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;  
}

/* there are 3 flex items within page:
header, main & footer
I think if I center these flex items and
give them a predefined width I can center
the content without spacers */

.header, .main, .footer {
    display: flex;  
}

.main {
    flex-direction: column;
    align-items: stretch;
    flex: 1;
}

.info, .quote, .cta {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.infoTitle {
    display: flex;
    justify-content: center; 
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color:#1f2937
}

.infoImages {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;  
}

.infoImg img {
    max-width: 10rem;
    border-radius: 5%;
    border: #3882f6;
    border-style: solid;
    border-width: 5px;
}

.infoImg p {
    max-width: 10rem;
    text-wrap: wrap;
    text-align: center;
}
/* perhaps adding a class of content within
these sections could be centered without
pulling the background color off of the 
sides */

.content {
    flex-basis: 70vw;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    background-color: #1f2937;
    color: #E5E7EB;
    justify-content: center;
}

.footer {
    margin-top: auto;
}

.nav {
    display: flex;
    padding: 0rem 1rem;
}
.nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    flex: 1
}
.nav li {
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #E5E7EB;
}

.nav p {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
}
.title {
    padding: 1rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.titleText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.titleImage {
    display: flex;
}

.title img {
    flex: 1;
    max-width: 40rem;
    border-radius: 1%;
    flex-shrink: 1;
}

h1 {
    font-size: 48px;
    margin: 0rem;
    padding: 0rem;
    color: #ffffff;
}

.title p {
    font-size: 18px;
    margin: 0px;
    font-weight: 300;
    color: #E5E7EB;
}

.titleButton {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 4rem
}

.titleButtonText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h4 {
    font-size: 24px;
    margin: 0px;
}

.title button {
    padding: 1rem 4rem;
    color: #ffffff;
    background-color: #3882f6;
    border-radius: 1rem;
    font-size: 32px;
    font-weight: bold;
}

.quoteText {
    padding: 4rem 8rem;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quote2 {
    font-size: large;
    font-weight: bold;
    font-style: normal;
    text-align: right;
    margin-right: 2rem;
}

.ctaBox {
    background-color: #3882f6;
    border-radius: 1rem;
    display: flex;
    padding: 2rem 8rem;
    margin: 4rem 1rem;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
}

h3 {
    font-size: 24px;
    margin: 0%;
}

.ctaBox p {
    margin: 0px;
    color: #E5E7EB;

}