body {
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    
}
.header, .footer {
    background-color: #1f2937;
    display: flex;
    color: white
}
.nav {
    display: flex;
    background-color: #1f2937;
    gap: 1rem;
    padding: 1rem;
    flex: 1;
}
.nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    flex: 1;
    justify-content: flex-end;
}

.nav li {
    margin-left: auto;
}