body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;  
}

/* there are 3 flex items within page:
header, main & footer
I think if I center these flex items and
give them a predefined width I can center
the content without spacers */

.header, .main, .footer {
    display: flex;  
}

.main {
    flex-direction: column;
    align-items: stretch;
    flex: 1;
}

.info, .quote, .cta {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.infoTitle {
    display: flex;
    justify-content: center; 
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color:#1f2937
}

.infoImages {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;  
}

.infoImg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoImg img {
    max-width: 15rem;
    border-radius: 5%;
    border: #3882f6;
    border-style: solid;
    border-width: 5px;
    transition-duration: 1s;
}

/* .infoImg img:hover { 
    max-width: 16rem;
    transition-duration: 1s;
    border-width: 4px;
}
    */

.infoImg p {
    max-width: 10rem;
    text-wrap: wrap;
    text-align: center;
    color: #1f2937;
    font-size: 22px;
    font-weight: 300;
}
/* perhaps adding a class of content within
these sections could be centered without
pulling the background color off of the 
sides */

.content {
    flex-basis: 60vw;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    background-color: #1f2937;
    color: #E5E7EB;
    justify-content: center;
}

.footer {
    margin-top: auto;
}

.nav {
    display: flex;
    padding: 0rem 1rem;
}
.nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
    flex: 1
}
.nav li, a {
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #E5E7EB;
    text-decoration: none;
    transition-duration: .5s;
}

.nav a:hover {
    color: white;
    transition-duration: .5s;
}

.nav p {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
}
.title {
    padding: 1rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.titleText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.titleImage {
    display: flex;
}

.title img {
    flex: 1;
    max-width: 40rem;
    border-radius: 1rem;
    flex-shrink: 1;
    transition-duration: 1s;
}

/* .title img:hover { 
    max-width: 41rem;
    transition-duration: 1s;
}
    */

h1 {
    font-size: 48px;
    margin: 0rem;
    padding: 0rem;
    color: #ffffff;
}

.title p {
    font-size: 18px;
    margin: 0px;
    font-weight: 300;
    color: #E5E7EB;
}

.titleButton {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 4rem
}

.titleButtonText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h4 {
    font-size: 24px;
    margin: 0px;
}

.title button {
    padding: 1rem 4rem;
    color: #ffffff;
    background-color: #3882f6;
    border-radius: 1rem;
    font-size: 32px;
    font-weight: bold;
}

.title button:hover {
    color:#1f2937;
    background-color: #E5E7EB;
    cursor: pointer;
    transition-duration: 1s;
}

.quoteText {
    padding: 4rem 8rem;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quote2 {
    font-size: large;
    font-weight: bold;
    font-style: normal;
    text-align: right;
    margin-right: 2rem;
}

.ctaBox {
    background-color: #3882f6;
    border-radius: 1rem;
    display: flex;
    padding: 3rem 8rem;
    margin: 4rem 1rem;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
}

h3 {
    font-size: 24px;
    margin: 0px;
    margin-bottom: 1rem;
}

.ctaBox p {
    margin: 0px;
    color: #E5E7EB;
    font-size: 18px;
}

.ctaBox button {
    font-size: 24px;
    font-weight: bold;
    background-color: #3882f6;
    color: #ffffff;
    border: #E5E7EB;
    border-style: solid;
    border-radius: 1rem;
    border-width: 3px;
    padding: 1rem 4rem;
}

.ctaBox button:hover {
    background-color: #E5E7EB;
    color:#3882f6;
    transition-duration: 1s;
    cursor: pointer;
}

.footer {
    padding: 3rem;
    font-size: 18px;
    color: #E5E7EB;
}